<!DOCTYPE html>
<html>
  <head>
    <title>ResultAnalysis</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container-fluid bg-light-purple">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-12 col-sm-6">
            <small class="d-block pt-0">ResultAnalysis.com</small>
          </div>
          <div class="col-md-4 col-12 col-sm-6">
            <ul class="nav justify-content-end">
              <li class="nav-item">
                <a class="nav-link text-purple" href="/login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-purple" href="/register">Sign in</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <nav
      class="navbar navbar-expand-sm navbar-dark btn btn-info py-0 sticky-top"
    >
      <div class="container">
        <a href="#" class="navbar-brand"
          ><h2><b>Result Analysis</b></h2></a
        >
        <button
          data-toggle="collapse"
          data-target="#menu"
          class="navbar-toggler"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="menu">
          <ul class="nav navbar-nav">
            <li class="nav-item">
              <a class="nav-link px-3" href="/"><b>Home</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-3" href="/"><b>Services</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-3" href="/"><b>Contact</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-3" href="/"><b>Help</b></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid px-0 mx-0">
      <img
        src="file:///C:/Users/HP/Desktop/web develpment/Analysis4.png"
        style="height: 500px; width: 100%"
      />
    </div>

    <div class="container-fluid bg-light-purple py-1">
      <div class="container">
        <h1 class="text-center display-5 p-50">
          <b>Acropolis Institute Of Technology and Research</b>
        </h1>
      </div>
    </div>
    <div class="container-fluid">
      <div class="flex-coloum mt-3" witdh="100%">
        <a href="./button.html" class="btn btn-info" boder radius="50%"
          >First-Year</a
        >
        <a href="./button.html" class="btn btn-info" boder radius="50%"
          >Second-Year</a
        >
        <a href="./button.html" class="btn btn-info" boder radius="50%"
          >Third-Year</a
        >
        <a href="./button.html" class="btn btn-info" boder radius="50%"
          >Frouth-Year</a
        >
      </div>
    </div>
    <div class="container-fluid btn btn-info mt-3" id="footer">
      <div class="flex-coloum">
        <h4>Contact Us:</h4>
        <h>12345678</h>
        <h4>Email:</h4>
        <h>abc@acropolis.in</h>
        <h4>Follow Us:</h4>
        <h> ig:abc_123 </h>
        <h>twitter:@abc.in</h>
      </div>
    </div>
    <div class="container-fluid btn"></div>
    <div class="container-fluid"></div>
    <div class="container-fluid"></div>
  </body>
  <style>
    .bg-light-purple {
      background-color: #bbe4ec;
    }
    body {
      background-color: rgb(177, 188, 190);
    }
    .text-purple {
      color: #000;
    }
    #menu .nav .nav-item .nav-link {
      color: #000 !important;
    }
    #menu .nav .nav-item .nav-link:hover {
      background-color: rgb(4, 178, 213);
    }
    #right-content .card .card-img-top {
      height: 250px !important;
    }
  </style>
</html>
